**Problem Statement**

Utilize agglomerative clustering for actual and predicted class

**Tasks to be performed:**

•Load the file “zoo.data” and look at the info and first five rows. The first column denotes the animal name and the last one specifies a high-level class for the corresponding animal.

•Find out the unique number of high level class.

•Use the 16-intermediate feature and perform an agglomerative clustering. [ Hint: Refer to the agglomerative clustering module in scikit learn and set the number of clusters appropriately]

•Compute the mean squared error by comparing the actual class and predicted high level class.

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import mode
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import mean_squared_error,accuracy_score

In [ ]:
df=pd.read_csv("zoo.csv")
df.head()

  animal_name  hair  feathers  eggs  milk  ...  legs  tail  domestic  catsize  class_type
0    aardvark     1         0     0     1  ...     4     0         0        1           1
1    antelope     1         0     0     1  ...     4     1         0        1           1
2        bass     0         0     1     0  ...     0     1         0        0           4
3        bear     1         0     0     1  ...     4     0         0        1           1
4        boar     1         0     0     1  ...     4     1         0        1           1

[5 rows x 18 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   animal_name  101 non-null    object
 1   hair         101 non-null    int64
 2   feathers     101 non-null    int64
 3   eggs         101 non-null    int64
 4   milk         101 non-null    int64
 5   airborne     101 non-null    int64
 6   aquatic      101 non-null    int64
 7   predator     101 non-null    int64
 8   toothed      101 non-null    int64
 9   backbone     101 non-null    int64
 10  breathes     101 non-null    int64
 11  venomous     101 non-null    int64
 12  fins         101 non-null    int64
 13  legs         101 non-null    int64
 14  tail         101 non-null    int64
 15  domestic     101 non-null    int64
 16  catsize      101 non-null    int64
 17  class_type   101 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

In [ ]:
df.class_type.unique()

array([1, 4, 2, 7, 6, 5, 3])

In [ ]:
df.class_type.value_counts().sort_index()

class_type
1    41
2    20
3     5
4    13
5     4
6     8
7    10
Name: count, dtype: int64

In [ ]:
x=df.drop(["animal_name","class_type"],axis=1)
y=df.class_type

In [ ]:
cluster=AgglomerativeClustering(n_clusters=7)
pred=cluster.fit_predict(x)

In [ ]:
mapped = np.zeros_like(pred)
for cluster in range(7):
    mask = pred == cluster
    mapped[mask] = mode(y[mask])[0]

In [ ]:
accuracy_score(y,mapped)

0.8514851485148515

In [ ]:
mse=mean_squared_error(y,mapped)
mse

1.0396039603960396